body{
    height: 1800px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom,red 30%,yellow 30% 70%,red 70% 100%);
    height: 100vh;
}

.imggg {
    margin-top: 950px;
    margin-left: 1000px;
} 